
* {
	box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

a {
	text-decoration: none;
}


body {
	font-family: sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  font-size: 1.6rem;
  background-color: white;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h3,a {
	color: #34495e;
}


.header__navbar {
  padding: 0 0;
  border: 1px solid #9A8B4F;
	background-color:white;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: sticky;
  top: 0;
}

.navbar {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2rem;
}
li{
  font-size: 20px;
}
  logo {
    margin: 0;
    padding: 1rem 0;
  }
  
     a:not(last-child) {
      padding: 2rem;
    }
     a:hover {
      color: orangered;
    }

  logo a, links a {
    text-transform: uppercase;
    text-align: center;
    display: block;
  }


main {
  max-width: 136.6rem;
  padding: 3rem;
  margin: 0 auto;
  min-height: 100vh;
}

/*contact form*/

input[type=text],input[type=email],textarea{
  width:100%;
  padding:12px;
  border:1px solid #34495e;
  border-radius:4px;
  box-sizing: border-box;
  margin-top:6px;
  margin-bottom: 16px;
  resize:vertical
}

input[type=submit]{
  background-color: #04AA6D;
  color:white;
  padding:12px 20px;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

input[type=submit]:hover{
  background-color: #45a049;
}
.container{
  border-radius: 5px;
  background-color:#34495e;
  padding:20px;
  margin:auto;
  width:450px;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.navbar,
	.navbar__links {
		display: flex;
	}
	.navbar {
		flex-direction: column;
		align-items: center;
    }.navbar {
		width: 80%;
		margin: 0 auto;
		max-width: 1366px;
    }
	}



@media (min-width: 1025px) {
	.navbar {
		flex-direction: row;
		justify-content: space-between;        
	}
}