
* {
	box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
	font-family: sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  font-size: 1.6rem;
  background-color:white;
}

#id7{
  text-align: center;
  font-size: 28px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h3,a {
	color: #34495e;
}

a {
	text-decoration: none;
}
h2{
  text-align:center;
  font-weight:bold;
  font-size:30px;
  color:red;
}
.id{
  color:blue;
  font-style: italic;
}
.id2{
  font-size:20px;
  font-style:italic;
  font-weight:bold;
  color:red;
}

p{
  text-align:center;
  font-weight:bold;
  font-size:30px;
  color:green;
}
h3{
  text-align:center;
  font-weight:bold;
  font-size:30px;
  font-style:italic;
}
#id4{
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  color:#34495e;
}
.header__navbar {
  padding: 0 0;
  border: 1px solid #9A8B4F;
	background-color:white;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: sticky;
  top: 0;
}

.navbar {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2rem;
}

li{
  font-size: 20px;
}
  logo {
    margin: 0;
    padding: 1rem 0;
  }
  
     a:not(last-child) {
      padding: 2rem;
    }
     a:hover {
      color: orangered;
    }

  logo a, links a {
    text-transform: uppercase;
    text-align: center;
    display: block;
  }


main {
  max-width: 136.6rem;
  padding: 3rem;
  margin: 0 auto;
  min-height: 100vh;
}
#id6{
  text-decoration: underline;
  color:#34495e;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
	.navbar,
	.navbar__links {
		display: flex;
	}
	.navbar {
		flex-direction: column;
		align-items: center;
    }.navbar {
		width: 80%;
		margin: 0 auto;
		max-width: 1366px;
    }
	}



@media (min-width: 1025px) {
	.navbar {
		flex-direction: row;
		justify-content: space-between;        
	}
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #242424;
  border-radius: 50%;
  display: inline-block;
  
  position: absolute;
  
  animation: changeColor 300ms ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  
  /* For slower animation */
/*   animation-duration: 3s;  */
}

.circle:nth-child(1) {
  top: 0;
  left: 0;
}

.circle:nth-child(2) {
  top: 19px;
  left: 32px;
 
  animation-delay: .166s;
  
  /* For slower animation */
/*   animation-delay: .5s; */
}

.circle:nth-child(3) {
  top: 54px;
  left: 32px;
  
  animation-delay: .33s;
  
  /* For slower animation */
/*   animation-delay: 1s; */
}

.circle:nth-child(4) {
  top: 73px;
  left: 0;
  
  animation-delay: .499s;
  
  /* For slower animation */
/*   animation-delay: 1.5s; */
}

.circle:nth-child(5) {
  top: 54px;
  left: -32px;

  animation-delay: .666s;
  
  /* For slower animation */
/*   animation-delay: 2s; */
}

.circle:nth-child(6) {
  top: 19px;
  left: -32px;

  animation-delay: .833s;
  
  /* For slower animation */
/*   animation-delay: 2.5s; */
}

@keyframes changeColor {
  0% {
    background-color: #242424;
  }
  
  20% {
    background-color: white;
  }
  
  /* For slower animation */
/*   60% {
    background-color: #242424;
  } */

  100% {
    background-color: #242424;
  }
}

/* Center layout */

.parent {
  position: relative;
  height: 100vh;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: block;
  height: 93px;
}
